.reader {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;    
    margin-top: 10%;
    gap: 10px 20px;
}

.reader--kommentti{
    flex-wrap: wrap;
    overflow-wrap: 'break-word' 
}

.adder--header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-top: 10%;
    gap: 10px;
}

.adder--form {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
    margin-top: 5%;
    gap: 30px;
}


table {
    display:flex;
    width:70% !important;
    border: solid 1px;
}