
h1{
    margin-left:30%;
}

h3, h4, h5{
    margin-top:2%;
    margin-left:30%;
}

h6{
    top:1px;
    margin-left:30%;
}

.selections{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left:30%;    
    top: 2%;
    gap: 10px 20px;
}

.reader {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    margin-left:30%;
    justify-content: left;
    align-items: left;   
    margin-top: 1%;
    gap: 10px 20px;
}

.reader--kommentti{
    flex-wrap: wrap;
    overflow-wrap: 'break-word' 
}

.adder--header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    margin-top: 10%;
    gap: 10px;
}

.adder--form {
    display: flex;
    flex-direction: column;
    margin-left: -22%;
    align-items: center;
    justify-content: space-evenly;    
    margin-top: 5%;
    gap: 30px;
}

.resepti--form {
    display: flex;
    flex-direction: column;
    margin-left: -22%;
    align-items: center;
    justify-content: space-evenly;    
    margin-top: 1%;
    gap: 30px;
}


.objectives{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top: 5%;
    margin-left: 30%;
    column-gap: 30px;
}

.table {
    display:table;
    text-align:left;
    margin-left:-20%;
    width:80% !important;
    border:1px solid;
}

td {
    border: 1px solid;
}

.big{
    width: 500px;
}

.medium{
    width: 70px;
}

.small{
    width: 100px;
}


th{
    text-align:left !important;
    background-color: gray;
}

.row {
    display: table-row;
 }
 
 .cell {
    display: table-cell;
 }