h1 {
  margin-left: 0%;
}

h3,
h4,
h5 {
  margin-top: 2%;
  margin-left: 30%;
}

h6 {
  top: 1px;
  margin-left: 30%;
}

.highLevel{
  color: red;
  font-weight: bold;
}

.midLevel{
  background-color: orange;
}

.lowLevel{
  background-color: green;
}


.selections {
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 20px;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: auto;
  margin: 0 auto;
  margin-top: 10%;
  gap: 2rem;
  padding: 4rem;
  background-color: lightsalmon;
  width: fit-content;
}

.main {
  margin: 0 auto;
  margin-top: 0px;
  padding: 6rem;
  width: 100%;
  max-width: 50rem;
  background-color: whitesmoke;
  color: #333;
}

.main-button {
  margin-top: 0px;
  margin-left: 0%;
}

.main img {
  display: flex;
  width: 200px;
  max-height: 300px;
  align-items: center;
}

.adder--header {
  display: grid;
  grid-template-columns: auto;
  justify-content: left;
  align-items: center;
  grid-row: 10px;
  padding: 20px;
}

.adder--form > input {
  width: 50px;
  padding: 20px;
}

.adder--form > textarea {
  width: 50px;
  padding: 20px;
  font-size: larger;
  width: fit-content;
}


.adder--form {
  box-sizing: border-box;
  border-radius: 1rem;
  padding: 20px;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  border: 4px solid hsl(0, 0%, 90%);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
  background-color: hsl(0, 28%, 95%);
}



.objectives {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-left: 30%;
  column-gap: 30px;
}

.main-otsikko {
  
}

.main-otsikko--info {
  text-align: center -20%;
}

.paasto {
  display: grid;
}

.paasto--item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 0px;
  row-gap: 20px;
  
}

.paasto--item input[type=number] {
  margin-left: 10px;
  width:40px;
}

.target {
    display: table;
    table-layout: auto;
    border: 1px solid red;
    text-align: left;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 0.5rem;
    justify-content: center;
    margin-top: 5px;
    padding: 2rem;
    background-color: hsl(0, 28%, 95%);  
}

.taulu {
  display: table;
  table-layout: auto;
  border: 1px solid black;
  text-align: left;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 20px;
  padding: 2rem;
  background-color: antiquewhite;
}

 
td,
th {
  padding: 8px;
  text-align: left;
  vertical-align: middle;
  padding: 2px;
  border-spacing: 10px;
}

th {
  text-align: left !important;
  background-color: gray;
}

button {
  width:fit-content;
  margin-left:0px;
  margin-top:20px;
  margin-right: -10%;
  padding: 10px;
}

#space {
  padding-left:5px;
  padding-right:5px;
}

.confirmation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 700;
  }

#confirm-button{
  margin-left:0px;
}

#cancel-button{
  margin-left:200px;
}

